@import "../../scss/_theme.scss";
@import "../../scss/_base.scss";

* {
  box-sizing: border-box;
}
.video-background {
  background: $c-black;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#landing-content {
	top: 0;
  margin: 0 auto;
	color: #fff;
  width: 100%;
}
.landing-info {
  position: absolute;
  top: 200px;
  left: 0;
  // width: 100%;
  // background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}
.landing-info h1 {
  font-size: 5em;
  font-weight: 700;
  margin-top: 1.5em;
  margin-left: 5em;
  line-height: 1.2;
}
.landing-info p {
  font-size: 1.7em;
  margin-left: 76%;
  margin-top: 0.5em;
}
.landing-info a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
  width:10%;
  height: 10%;
  margin-left: 88%;
  margin-top: 1.5em;
  padding: 0.4em;
  line-height: 1.2em;
  background: rgba(0,0,0,0.4);
  transition: .6s background;
  border-bottom: none;
  // margin: 1rem auto;
  text-align: center;
  &:hover {
    color:$c-primary;
  }
}

#landing-social{
  width: 100%;
  margin-top: 65%;
  margin-left: 20%;
}

.landing-social-links li {
  display: inline-block;
  padding: $s-pad *2;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
  .landing-content {
    width: 300%;
    margin-left: -100%;
  }
}
// @media screen and (min-width: 400px){
//   font-size: 3vw;
// }
//
// @media screen and (min-width: 720px){
//   font-size: 2vw;
// }
//
// @media screen and (min-width: 1000px){
//   font-size: 1.5vw;
// }
//
// @media screen and (min-width: 1400px){
//   font-size: 1vw;
// }
@media all and (max-width: 600px) {
.landing-info { width: 100%; padding: .5rem; float: left;}
.landing-info h1 {  float:left; }
}
@media all and (max-width: 500px) {
.landing-info .acronym { display: none; }
}

@media screen and (max-width: 600px) and (min-width: 320px){
  html body{

    div {
      float:left;
      margin-left: auto;
    }
    .landing-info h1 {
      margin: auto;
      margin-left: 0.4em;
      margin-top: 0.5em;
      margin-bottom: 1em;
      font-size: 2.5em;
    }
    .landing-info p {
      padding-left:2em;
      margin-left: auto;
      margin-bottom: 1em;
      font-size: 1.7em;
    }
    .landing-info a {
      margin: auto;
      margin-left: 37%;
      margin-top: 10%;
      font-size: 1.3em;
      width: 25%;
    }
    li {
      font-size: 1em;
      margin: 0 auto;
    }
    background-color: $c-teal;
    iframe {
      display:none;
    }
     .video-foreground {
      display: none;
    }
    .video-background {
      display:none;
    }
  }
}
